# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.env
.env.*
.venv/
venv/
env/

# SQLite / Database
*.sqlite
*.sqlite3
*.db

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db